/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* VARIABLES */


:root {
    --hover-color: #1c9bd7;
    --btn-color: #67AEC6;
    --font: font-family: 'Poppins', sans-serif;
    --fondo1: #6EC1E4;
    --section2: #F7F7F7;
    --login: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --color1: #24449F;
    --color2: #FFFFFF;
    --color3: #415FFF;
    --color4: #0DEAB1;
    --textFooter: #999999;
    --text: #ffffff;
    --text-parrafo: #231F20;
    --link: #ffffff;
    --bg-card-header: rgb(248, 248, 248);
}

ul#bt {
    margin-bottom: 0;
    list-style-type: none;
    font-size: 0.65rem;
}

ul#bt li {
    border-left: 1px solid #353a46;
    border-right: 1px solid #353a46;
    padding: 5px 20px 0 20px;
    min-width: 155px;
}

ul#bt li div:nth-child(2) {
    font-family: "Space Mono", monospace;
    font-weight: 800;
    padding-top: 3px;
    padding-bottom: 25px;
}

ul#bt li div:nth-child(2) span:first-child {
    font-size: 1.25rem;
}

ul#bt li div:nth-child(2) span:first-child i {
    padding-right: 5px;
    font-size: 1.55rem;
}

ul#bt li div:nth-child(2) span:nth-child(2) {
    margin-left: 10px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table>tbody>tr>td {
    vertical-align: middle !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR MENU*/

ul {
    list-style: none;
}

.header {
    width: 100%;
}

.header2 {
    background-color: var(--link) !important;
    padding-bottom: 3% !important;
}

.nav {
    width: 100%;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.navbar-custom {
    background-color: transparent !important;
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) !important; */
}

.offcanvas {
    background-color: rgba(103, 174, 198, .9) !important;
}

.nav-link{
    font-family: var(--font) !important;
    color: var(--link) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 24px !important; /* 22.5px */
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .menu li {
        float: left;
    }
}

/**/

body {
    background-color: #323232;
    font-family: var(--font) !important;
}


#logo {
    width: 90% !important;
    border: none;
}

.navbar-brand{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

h1 {
    font-family: 'Space Mono', monospace !important;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0px;
}

/* NAVBAR */

.btnMenu{
    background-color: transparent !important;
    border: transparent !important;
    padding-top: 15px !important;
}

.btnMenu2{
    width: 25% !important;
    background-color: transparent !important;
    border: transparent !important;
}

#btn_atras {
    display: block;
    color: var(--link) !important;
    font-size: 35px;
    margin-bottom: 20px;
}

.textoNav {
    transition: ease 0.5s;
    color: var(--link);
    font-weight: 600;
    font-size: 14px;
}

.textoNav:hover {
    color: #ffffff;
}

/*-----------------------------*/

.textoNav1 {
    transition: ease 0.5s;
    color: var(--text-parrafo) !important;
    font-weight: 600;
    font-size: 14px;
}

.textoNav1:hover {
    color: var(--text-parrafo) !important;
    font-weight: bold;
}

.btn-journey {
    border-color: var(--link) !important;
    border: 1px solid var(--textFooter) !important;
    background-color: transparent !important;
    padding: 0px !important;
    transition: border .5s ease, color .5s ease !important;
}

.btn-journey:hover {
    color: var(--btn-color) !important;
    border-color: var(--btn-colorr) !important;
}

.text-journey {
    color: var(--textFooter) !important;
    font-size: 13px !important;
    font-family: var(--font1) !important;
    padding: 10px !important;
    transition: border .5s ease, color .5s ease !important;
}

.text-journey:hover {
    color: var(--btn-color) !important;
    font-weight: bold !important;
}

.textAge {
    color: var(--color8) !important;
    font-family: var(--font1) !important;
    font-size: 90px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 70% !important;
}

.btn-nav {
    border-color: var(--link) !important;
    border: none !important;
    padding: 0px !important;
    transition: border 1s ease !important;
}

.btn-nav:hover {
    border: 1px solid var(--link) !important;
    background-color: transparent !important;
    color: #ffffff !important;
}

.btn-nav a {
    text-decoration: none;
    color: var(--link) !important;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 22px;
}

/* HOME */

.paddingBottom {
    padding-bottom: 5% !important;
}

.paddingTop {
    padding-top: 5% !important;
}

#home {
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}

.prev-button {
    background-image: url('../img/Buttons/buttonForward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.3s ease;
}

.prev-button:hover {
    background-image: url('../img/Buttons/hoverButtonNext.png');
}


.carousel-indicators .d-flex {
    position: relative !important;
}

.carousel-indicators button {
    margin-bottom: 5px !important;
}

.seccion {
    display: none;
}

.visible {
    display: block;
}


.carousel-indicators p {
    position: absolute !important;
    top: -2px !important;
    left: 50% !important; 
    transform: translateX(-50%) !important; 
}

.textCarousel {
    color: var(--link) !important;
    font-family: "Space Mono";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .carousel-indicators button {
    color: var(--link) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 16px !important;
    width: 30px !important;
    height: 30px !important;
    margin: 0 5px !important;
} */

.icon {
    width: 10% !important;
    margin: 5px !important;
}

.icon2 {
    margin: 5px !important;
}

.iconFirm {
    width: 10% !important;
    margin: 5px !important;
}

.iconOffice {
    width: 40% !important;
    padding: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.iconTime {
    width: 20% !important;
    padding: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.iconCircle {
    width: 20% !important;
    padding: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.linea-vertical {
    border-left: 2px solid #1f1b1c !important;
    height: 40px;
}

.icon4 {
    width: 25% !important;
}

.iconCarousel {
    width: 12% !important;
}

.iconFooter {
    width: 10% !important;
    padding: 0px !important;
}

.textIcon {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 0px !important;
    margin: 0px !important;
}

.titleSection{
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 600;
    font-size: 35px !important;
    color: var(--title-color) !important;
}

.titleSectionWhite{
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 600;
    font-size: 35px !important;
    color: var(--text) !important;
}

.portadaHome {
    background-image: url('../img/imgPortadas/IMG-HOME-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 880px !important;
}

.icons-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.arrow-container {
    position: absolute;
    bottom: 20px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.portadaHome2 {
    background-image: url('../img/imgPortadas/portadaHome2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain !important;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

#ourAprroach {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
}

.portadaOurApproach {
    background-color: var(--color7) !important;
}

.portadaOurApproach2 {
    background-image: url('../img/imgPortadas/LXG-OA-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portadaCompliance {
    background-image: url('../img/imgPortadas/LXG-COM-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portadaImpact {
    background-image: url('../img/imgPortadas/LXG-IMP-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portadaImpact2 {
    background-image: url('../img/imgPortadas/LXG-IMP-5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15% !important;
    padding-bottom: 15% !important;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.impact {
    padding-top: 9% !important;
    padding-bottom: 9% !important;
    background-color: var(--color10) !important;
    color: var(--link) !important;
}

.listImpact {
    list-style-type: disc !important;
    padding-left: 20px !important;
    color: var(--text-parrafo) !important; 
}

.portadalXGOnline {
    background-image: url('../img/imgPortadas/LXG-ON-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portadaOurTeam2 {
    background-image: url('../img/imgPortadas/LXG-OT-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.textPrincipalHome{
    color: var(--link) !important;
    text-align: center !important;
    font-family: var(--font) !important;
    font-size: 21px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 72px !important; /* 120% */
}

.textHome2{
    color: var(--link) !important;
    text-align: center !important;
    font-family: "Nunito Sans" !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 36px !important; /* 120% */
}

.btnLearMoreHome{
    width: 50% !important;
}

.whyUs {
    background-color: var(--color6) !important;
    color: var(--link) !important;
}

.vertical-line {
    border-left: 1px solid black;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/* CAROUSEL DE SECCIONES */

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-section {
    display: none;
    transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

.carousel-section.show {
    display: block;
    opacity: 1; /* Mostrar la sección con opacidad 1 */
}

.carousel-section.hide {
    opacity: 0; /* Ocultar la sección con opacidad 0 */
}

/* --------- */

.ourNumbers{
    background-color: var(--color3) !important;
}

.portadaWeAre {
    background-image: url('../img/imgPortadas/LXG-Home-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portadaWhatWe1 {
    background-image: url('../img/imgPortadas/portadaWhatWe.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex !important;
    align-items: center !important;
}

.portadaWhatWe2 {
    background-image: url('../img/imgPortadas/portadaWhatWe2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logoWeAre{
    width: 100% !important;
}

.title1{
    color: var(--text-parrafo) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.subtitle1 {
    color: var(--color1) !important;
    font-family: var(--font) !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 120% !important; 
}

.text1 {
    color: var(--color1) !important;
    font-family: var(--font) !important;
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 150% !important; /* 36px */
}

.highlight {
    background: linear-gradient(90deg, #24449F, #01E2E1, #0DEAB1) !important;
    color: white !important; 
    padding: 1px 15px !important; 
    border-radius: 50px !important;
    display: inline-block !important;
}

.highlight3 {
    background: linear-gradient(86.3deg, #24449F -39.7%, #01E2E1 42.27%, #0DEAB1 100%) !important;
    color: white !important; 
    padding: 1px 15px !important; 
    border-radius: 50px !important;
    display: inline-block !important;
}

.textTeam {
    color: var(--text-parrafo) !important;
    font-family: "Nunito Sans" !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.textTeamSub {
    color: var(--text-parrafo) !important;
    font-family: "Nunito Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.text2 {
    color: var(--text-parrafo) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.textCalendar {
    color: var(--text-parrafo) !important;
    font-family: var(--font1) !important;
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;
}

.subText {
    color: var(--text-parrafo) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
}

.subTextWhite {
    color: var(--link) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
}

.minText{
    color: var(--color1) !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
}


.minTextWhite{
    color: var(--link) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;
}

.textWhite {
    color: var(--text) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.portadaSection2 {
    background-image: url('../img/imgPortadas/IMG-HOME-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 768px !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portadaSection3 {
    background-image: url('../img/imgPortadas/IMG-HOME-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 768px !important;
    display: inline-block; /* Permite que el ancho se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* SECTION 3 */

#section3 {
    background-color: var(--color1) !important;
    margin: 0px !important;
}

.node { 
    background-color: var(--color3) !important; /* Color de fondo azul de los nodos */
    border-radius: 20px;
    padding: 15px;
    width: 160px !important;
    height: 180px !important;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1; /* Asegura que los nodos estén por encima de las líneas */
}

.node:hover {
    background-color: #24449F; /* Cambiar color al hacer hover */
}

.icon-connection12{
    width: 80% !important; /* Ajusta el tamaño de la imagen */
    height: auto !important;
    margin-bottom: 0px; /* Espacio entre la imagen y el nodo */
    margin-left: 50% !important;
    margin-top: 40% !important;
}

.icon-connection23{
    width: 80% !important; /* Ajusta el tamaño de la imagen */
    height: 165px !important;
    margin-bottom: 0px; /* Espacio entre la imagen y el nodo */
    margin-left: 50% !important;
    margin-bottom: 40% !important;
}

.icon-connection34{
    width: 80% !important; /* Ajusta el tamaño de la imagen */
    height: 165px !important;
    margin-bottom: 0px; /* Espacio entre la imagen y el nodo */
    margin-left: 35% !important;
    margin-top: 40% !important;
}

.icon-connection36{
    width: 80% !important; /* Ajusta el tamaño de la imagen */
    height: 165px !important;
    margin-bottom: 0px; /* Espacio entre la imagen y el nodo */
    margin-left: 35% !important;
    margin-bottom: 40% !important;
}

.groupNode {
    background-color: var(--color3) !important; /* Color de fondo azul de los nodos */
    border-radius: 20px;
    padding: 15px;
    width: 160px !important;
    height: 180px !important;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2; /* Asegura que los nodos estén por encima de las líneas */
}


.textNode {
    text-align: start !important;
    color: var(--color4) !important;
    font-family: var(--font) !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 18px !important;
}

.numberText {
    text-align: start !important;
    color: var(--color4) !important;
    font-family: var(--font) !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 56px !important;
}

.iconNode{
    width: 60% !important;
}

.iconNode2{
    width: 60% !important;
}

.marginNode1{
    margin-top: 5% !important;
}

/* Cuando se le pasa el hover a un nodo, se mostrará el info-panel */
.show-info {
    display: block !important;
}

/* Cambia el color del #info-panel al hacer hover sobre el nodo */
.node:hover ~ #info-panel {
    background-color: #0DEAB1; /* Color cuando se hace hover */
}

/* Estilos para las líneas SVG */
#lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2; /* Asegura que las líneas estén detrás de los nodos */
}

/* Oculta el panel inicialmente */
#info-panel {
    visibility: hidden;
    background-color: #22d3ee;
    border-radius: 10px;
    padding: 20px;
    min-height: 200px;
    transition: background-color 0.3s ease;
}

/* Cuando se activa la clase .show-info, el panel se hace visible */
#info-panel.show-info {
    visibility: visible !important;
}

/* Cambio de color del #info-panel al hacer hover en los nodos */
.node:hover ~ #info-panel {
    background-color: #0DEAB1; /* Color al hacer hover */
}

#info-panel img {
    display: block;
    margin: 0;
    text-align: start;  /* Asegura que la imagen esté alineada a la izquierda */
}

.numberInfoPanel {
    text-align: start !important;
    color: var(--color1) !important;
    font-family: var(--font) !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 18px !important;
}

.textInfoPanel {
    text-align: start !important;
    color: var(--color1) !important;
    font-family: var(--font) !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 18px !important;
}

.subtextInfoPanel {
    text-align: start !important;
    color: var(--color1) !important;
    font-family: var(--font) !important;
    font-size: 24px !important;
    font-style: bold !important;
    font-weight: 600 !important;
    line-height: 25px !important;
}


/* SECTION 4 */


.menu-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.menu-card img {
    width: 40px;
    height: auto;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--color1) !important;
}

.menu-text {
    color: var(--color1) !important;
    font-family: "Poppins" sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    list-style-type: disc !important; /* Asegura que los puntos sean visibles */
    padding-left: 20px !important;    /* Añade un poco de espacio antes de los puntos */
}

.menu-text li {
    margin-bottom: 10px !important /* Espacio entre los elementos de la lista */
}

.menu-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.plus-icon {
    font-size: 24px;
    color: var(--color1) !important;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: inline-block; 
}

/* .menu-container .collapse .card {
    border: none !important;
    box-shadow: none !important;
} */

/* SECTION 5: MAP */

#map {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1 !important;
}

/* SECTION 6: QUEM SOMOS */

.corner-image {
    position: absolute !important;
    top: 5110px;   /* Ajusta la distancia desde el fondo */
    right: 0px;    /* Ajusta la distancia desde la derecha */
    width: 35% !important;   /* Ajusta el tamaño según necesites */
    z-index: 5 !important;    /* Asegura que la imagen esté sobre el mapa */
}

.imageSection {
    position: relative !important;   /* Asegura que la imagen superior respete el z-index */
    z-index: 10 !important;  /* Asegura que imageSection quede encima */
}

.imageSection2 {
    position: relative !important;   /* Asegura que la imagen superior respete el z-index */
    z-index: 10 !important;  /* Asegura que imageSection quede encima */
}

.corner-image2 {
    position: absolute !important;
    top: 6300px;   /* Ajusta la distancia desde el fondo */
    left: 0px;    /* Ajusta la distancia desde la derecha */
    width: 35% !important;   /* Ajusta el tamaño según necesites */
    z-index: 5 !important;    /* Asegura que la imagen esté sobre el mapa */
}

/* SECTION 7: CLIENTES */

.sectionBack7 {
    background-color: var(--color1) !important;
    margin: 0px !important;
}

.hr-line {
    border-left: none;
    border-top: 3px dotted white; /* Línea horizontal en mobile */
    height: auto;
    width: 70%; /* Ancho ajustado para mobile */
}


@media (min-width: 768px) {
    .hr-line {
        border: none;
        border-left: 3px dotted var(--color2) !important; /* Línea vertical para desktop */
        height: 150px !important; /* Ajusta la altura */
        width: 0; /* Sin ancho en desktop */
    }
}

/* SECTION PEOPLE */

#people {
    padding-top: 9% !important;
}

.people {
    padding-top: 5% !important;
}

.portadaPeople2{
    background-image: url('../img/imgPortadas/LXG-Hero-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iconPeople {
    width: 20px !important;
    margin-right: 6px !important;
}

.portadaNews{
    background-image: url('../img/imgPortadas/portadaNews.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20% !important;
    padding-bottom: 20% !important;
}

/* FOOTER */

#footer {
    background-color: var(--color1) !important;
}

.text-footer{
    color: var(--color2) !important;
    font-family: var(--font) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 150% !important; /* 24px */
}

.full-width-line {
    margin: 0;
    padding: 0;
}

.full-width-line hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 0.8px solid var(--textFooter) !important;
    opacity: 0.8 !important;
}

#footerLogin {
    background-color: var(--section2) !important;
}

.textFooter {
    color: var(--textFooter) !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.subTitleFooter {
    color: var(--textFooter) !important;
    font-family: "Roboto" !important;
    font-weight: bolder !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

#logoFooter {
    border: none;
}

.btn2{
    background-color: transparent !important;
    font-family: "Space Mono", monospace !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    padding: 6px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px !important;
    border: 1px solid var(--color1) !important;
    color: var(--color1) !important;
    transition: background-color 0.3s ease, border-color 0.3s ease !important;
}

.btn2:hover {
    background-color: var(--color1) !important;
    color: var(--link) !important;
}

/* NAVBAR CUSTOM */

.navbar-scrolled {
    background-color: var(--link) !important; /* Cambia el fondo del navbar a blanco */
    transition: background-color 0.3s ease-in-out;
}

/* Cambia el color de los enlaces */
.navbar-scrolled .nav-link {
    color: var(--color1) !important;
}

/* Asegúrate de que el logo no cambie */
.navbar .navbar-brand img {
    transition: filter 0.3s ease-in-out;
}

.navbar-expanded {
    padding: 7.5% !important;
}

/* Hover después de que el navbar haya cambiado por scroll */
.navbar-scrolled .btn-nav:hover {
    color: var(--color1) !important; /* Texto cambia a blanco solo al hacer hover */
    border: 1px solid var(--color1) !important;
}

/**/

/* MEDIA */

@media (min-width: 280px) {

    .tituloPortada {
        font-size: 14px !important;
    }

    .tituloSeccion1 {
        font-size: 20px !important;
    }

    .tituloSeccion2 {
        font-size: 20px !important;
    }

    .tituloSeccion3 {
        font-size: 20px !important;
    }

    .tituloSeccion4 {
        font-size: 20px !important;
    }

    .tituloSeccion5 {
        font-size: 20px !important;
    }

    .card-text {
        font-size: 13px !important;
    }

    .parrafoMayuscula {
        font-size: 21px !important;
    }

    .containerLinea {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .margenAlto {
        margin-top: 30px;
    }

    .margenBajo {
        margin-bottom: 80px;
    }

    .textoNav1 {
        font-size: 15px !important;
    }

    .btnAccesoLoginMobile {
        height: 45px !important;
        padding: 15px !important;
        font-size: 13px !important;
    }

    .tituloNormal {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 15px !important;
    }

    .tituloAdmin {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 15px !important;
    }

    .parrafoContacto {
        text-align: start;
    }

    .subtitulo {
        font-size: 18px;
    }

    .fa-sort-down {
        padding: 0 !important;
        padding-bottom: 10px !important;
        margin: 0 !important;
        color: #e7f0fd !important;
        font-size: 20px !important;
    }

    .boton-Login {
        font-size: 13px !important;
    }

    .nav-item a {
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        text-transform: uppercase !important;
    }

    .btnAccesoLoginMobile {
        font-size: 10px !important;
        padding: 5px;
    }

    /* CONTACTO */

    .tituloFooter {
        font-size: 20px !important;
    }

    .bottom-border {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid var(--title-color) !important;
        background-color: transparent !important;
    }

    .form-label{
        color: var(--title-color) !important;
        font-family: "Roboto" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        text-decoration: none !important;
    }

    .form-control{
        color: var(--textFooter) !important;
        font-family: "Roboto" !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        text-decoration: none !important;
    }

    .subtituloContacto {
        font-size: 17px !important;
    }

    .parrafoContacto {
        font-size: 14px !important;
    }

    .imagenMarca {
        width: 30px;
        margin: 5px;
    }
}


@media (min-width: 768px) {

    .portadaWhatWe1 {
        height: auto !important;
    }
    
    .text-journey {
        font-size: 20px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .textAge {
        font-size: 200px !important;
    }

    .iconFooter {
        width: 30% !important;
        padding: 0px !important;
    }

    .nav-item a {
        font-size: 25px !important;
    }

    .titleSection{
        font-size: 40px !important;
    }
    
    .titleSectionWhite{
        font-size: 48px !important;
    }

    .titleOurApproach{
        font-size: 60px !important;
    }

    .titleNews{
        font-size: 48px !important;
    }

    .textPrincipalHome {
        font-size: 72px !important;
    }

    .textHome2{
        font-size: 60px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: 60px !important; /* 120% */
    }

    .icon {
        width: 3% !important;
        margin-bottom: 30px !important;
    }

    .portadaWhatWe1 {
        background-image: none !important;
    }

    .portadaWhatWe2 {
        background-image: none !important;
    }

    .imgHomeCapital {
        width: 75% !important;
    }

    .imgCapital1{
        width: 80% !important;
    }
    
    .imgOffice2{
        width: 80% !important;
    }

    .imgHomeOffice {
        width: 65% !important;
    }

    .subtitle {
        font-size: 24px !important;
    }

    .subText {
        font-size: 21px !important;
    }

    .minText {
        font-size: 15px !important;
    }

    .sectionLxg{
        padding-top: 10% !important;
        padding-bottom: 6% !important;
    }

    .icon4{
        width: 23% !important;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #footer {
        padding-top: 4% !important;
    }

    #number2 {
        width: 35px !important;
    }

    .portadaBusinesses{
        padding-top: 15% !important;
        padding-bottom: 15% !important;
    }
    
    .iconPeople {
        width: 27px !important;
    }

    .portadaNews{
        padding-top: 15% !important;
        padding-bottom: 15% !important;
    }

    .imgNews {
        height: 400px !important;
        object-fit: cover;
    }

    .sectionImage3 {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }

    .portadaCapital{
        background-image: none !important;
    }

    .ourPartners {
        padding-top: 5% !important;
        padding-bottom: 15% !important;
    }

    .portadaOffice{
        background-image: none !important;
    }

    .sectionOurFirm2 {
        padding-top: 5% !important;
        padding-bottom: 10% !important;
    }

    .portadaPeople{
        padding-top: 15% !important;
        padding-bottom: 15% !important;
    }

    share-menu {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
    
    .imageNews{
        height: 500px !important;
        object-fit: cover;
    }

    #contactForm {
        padding-top: 10% !important;
    }

    .imgContact{
        width: 80% !important;
    }
    
    .iconCircle {
        width: 24% !important;
    }

    .iconTime {
        width: 20% !important;
    }

    .accordion-body{
        font-size: 19px !important;
    }

    .textIcon {
        margin-top: 10px !important;
        font-size: 14px;
    }

    .paddingForm {
        padding-bottom: 20% !important;
    }


    #businesses {
        padding-top: 20% !important;
    }

    #people {
        padding-top: 2% !important;
    }
}

@media (min-width: 990px) {

    .nav-link {
        font-size: 16px !important;
    }

    

    .nav-item {
        margin-right: 5px !important;
        padding: 5px !important;
    }

}


@media (min-width: 1024px) {

    .nav-item a {
        font-size: 14px !important;
    }

    .btnAccesoLogin {
        height: 35px !important;
        padding: 12px !important;
        font-size: 11px !important;
    }

    .nav-item {
        margin-right: 10px !important;
    }
}

@media (min-width: 1280px) {


    .nav-item {
        margin-right: 22px;
    }

    .nav-item a {
        font-size: 13px !important;
    }

    .margenAlto {
        margin-top: 90px;
    }

    .marginLoginBottom {
        margin-bottom: 50px;
    }

    #owl-demo .item {
        padding-left: 30px;

    }


}

@media (min-width: 1366px) {

    .btnAccesoLogin {
        height: 20px !important;
        padding: 5px !important;
        font-size: 11px !important;
    }

    .nav-item {
        margin-top: 20px;
        margin-right: 30px;
    }

    .textoNav1 {
        font-size: 15px !important;
    }
}
